body{
    margin: 0;
    padding: 0;
    background-color:lightgray;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    line-height: 22px;

}

.headline{
    width: 100%;
    max-width: 980px;
    margin: 20px auto 80px;
    padding: 0 10px;
}